* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    background: radial-gradient(black,gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    background-color: white;   
    border-radius: 10px; 
    padding: 40px;
    box-shadow: 0px 4px 8px rgb(81, 81, 81);
}

h1{
    margin: 10px;
    font-size: 30px;
}

h5{
    margin: 5px;
    font-size: 20px;
}
#photo img{

    height: 200px;
    width: 200px;
    border-radius: 60px;
    object-fit: cover;
}
button{
    margin: 5px;
    background-color: royalblue;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}